@model Wedding.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>

<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Fyll i din e-post</h4>
<br />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mdl-textfield__input" })
                        @Html.LabelFor(model => model.Email, "E-post", new { @class = "mdl-textfield__label" })
                    </div>
                    <br />
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Skicka nytt lösenord</button>


            }
        </article>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
