@model Wedding.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Återställ lösenord";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>

<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">

            <h3>Återställ Lösenord</h3>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input" })
                    @Html.LabelFor(m => m.Email, "Fyll i din E-post", new { @class = "mdl-textfield__label" })
                </div>
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
                    @Html.LabelFor(m => m.Password, "Nytt lösenord", new { @class = "mdl-textfield__label" })
                </div>
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input" })
                    @Html.LabelFor(m => m.ConfirmPassword, "Upprepa lösenord", new { @class = "mdl-textfield__label" })
                </div>
                <br />
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Återställ</button>
                
            }
        </article>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
